<p style="color: green"><%= notice %></p>

<h1>Borrower Records</h1>

<div id="borrower_records">
  <% @borrower_records.each do |borrower_record| %>
    <%= render borrower_record %>
  <% end %>
</div>
